// Color assignments
@fontColor: @black;
@borderColor: @black;
@navBg: @lightPurple;
@navLink: @lightBlue;
@navBorder: @lightBlue;

// Color
@black: #000000;
@lightPurple: #8789C0;
@lightBlue: #9BD1E5;

// Escapes

@tablet: ~'min-width:550px';
@desktop: ~'min-width:850px';