// Color assignments
@globalBg: @tan;
@fontColor: @black;
@borderColor: @black;
@navBg: @lightPurple;
@navLink: @lightBlue;
@navBorder: @black;
@featBackground: @orangey;
@buttonBgColor: @lightPurple;
@buttonText: @black;
@buttonHover: @lightBlue;
@footerBg: @lightPurple;


// Color
@tan: #f1edec;
@black: #000000;
@lightPurple: #8789C0;
@lightBlue: #9BD1E5;
@orangey: #E2856E;

// Font assignments
@titleFont: @sigmar;
@textFont: @hammer;
@navFont: @livvic;
@buttonFont: @livvic;


// Fonts
@sigmar:~'Sigmar One', cursive;
@hammer: ~'Hammersmith One', sans-serif;
@livvic: ~'Livvic', sans-serif;



// Escapes

@tablet: ~'min-width:550px';
@desktop: ~'min-width:850px';